<?xml version="1.0"?>

<model>
  <name>skywalker_3</name>
  <version>1.0</version>
  <sdf version="1.6">delta_wing.sdf</sdf>

  <author>
    <name>Ahfaz</name>
    <email>ahfaz_ahmed@yahoo.com</email>
  </author>

    <author>
    <name>Dr. Bilal Qadri</name>
    <email>bilal.kadri@gmail.com</email>
  </author>

  <description>
    A model3 of a skywalker delta wing with lift drag and ardupilot interface implemented
  </description>

</model>
